@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  font-size: 1.6rem;
  font-family: "Work Sans", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
}



/* LAYOUT */
.grid-container {
  display: grid;
  grid-template-areas:
    'header'
    'main'
    'footer';
  grid-template-columns: 1fr;
  grid-template-rows: 14rem 1fr 5rem;
  height: 100%;
}

header {
  grid-area: header;
  color: #164733;
  border-bottom: 2px solid #164733;
}

main {
  grid-area: main;
  padding: 3rem;
}

footer {
  grid-area: footer;
  color: #fff;
  background-color: #164733;
}



/* COMMON */
a {
  text-decoration: none;
  color: #164733;
}

a:hover {
  color: #000;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

li {
  margin-top: 1rem;
}

h1 {
  font-size: 1.8rem;
  padding: 0.5rem 0;
}

h2 {
  font-size: 1.6rem;
  padding: 0.5rem 0;
}

input,
select,
textarea,
button {
  padding: 1rem;
  border-radius: 0.5rem;
  border: 0.1rem solid #a4a4a4;
  font-size: 1.6rem;
  font-family: "Work Sans", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  background-color: #f8f8f8;
  cursor: pointer;
}
input:hover,
select:hover,
textarea:hover,
button:hover {
  border: 0.1rem solid #404040
}

button.primary {
  background-color: #f1c661;
}

button.block {
  width: 100%;
}


/* HEADER */
header div {
  padding: 2.5rem;
}

header a {
  text-transform: uppercase;
  padding: 1rem;
}

a.brand {
  font-family: 'Cedarville Cursive', cursive;
  text-transform: none;
  font-size: 5rem;
  font-weight: bold;
}

.badge {
  background-color: #bd8c7d;
  color: #fff;
  border-radius: 50%;
  padding: 0.2rem 0.7rem;
  font-size: 1.4rem;
  margin-left: 0.2rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.row.center {
  justify-content: center;
}

.row.top {
  align-items: flex-start
}

.col-1 {
  flex: 1 1 25rem;
}

.col-2 {
  flex: 2 1 50rem;
}

.col-3 {
  flex: 32 1 75rem;
}

.min-30 {
  min-width: 30rem
}



/* IMAGES */
img {
  border-radius: 0.5rem;
}

img.small {
  max-width: 5rem;
  width: 100%;
}

img.medium {
  max-width: 29rem;
  width: 100%;
}

img.large {
  width: 98%;
}



/* CARD */
.card {
  border: 0.1rem solid #d1bfa7;
  background-color: #f8f8f8;
  border-radius: 0.5rem;
  margin: 1rem;
}

.card-body {
  padding: 1rem;
}

.card-body > * {
  margin-bottom: 0.5rem;
}

.card-title {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.price {
  font-size: 2rem;
  color: #164733;
}



/* RATING */
.rating span {
  color: #f1c661;
  margin: 0.1rem;
}

.rating span:last-child {
  color: #404040;
}



/* ALERT */
.success {
  color: #5cb85c;
}

.danger {
  color: #d9534f;
}

.alert {
  padding: 1rem;
  border: 0.1rem solid transparent;
  border-radius: 0.5rem;
}

.alert-info {
  color: #14A3B8;
  background-color: #e0e0ff;
}

.alert-danger {
  color: #d9534f;
  background-color: #ffe0e0;
}



/* FORM */
.form {
  max-width: 60rem;
  margin: 0 auto;
  /* text-transform: uppercase; */
  /* color: #164733; */
}

.form > div {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

.form label {
  display: block;
  margin: 1rem 0;
}



/* DROPDOWN */
.dropdown {
  display: inline-block;
  position: relative;
}

.dropdown-content {
  position: absolute;
  display: none;
  right: 0;
  min-width: 9rem;
  padding: 0.3rem;
  z-index: 1;
  margin: 0;
  margin-top: 0.4rem;
  border-radius: 0.5rem;
}

.dropdown:hover .dropdown-content,
.dropdown:hover .dropdown-content a  {
  display: block;
  /* color: #fff;
  background-color: #164733; */

  border: 1px solid #f1c661;
  color: #164733;
}

.dropdown:hover .dropdown-content a:hover {
  color: #000;
}